<head>
  <style>
    .footer {
      font-size: 12px;
      color: #777777;
      margin-top: 18px;
    }
  </style>
</head>

<p class="footer">
  Merci de votre confiance.<br />
  <strong>Au Ptit Vivo</strong>
</p>
