<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-bottom: 1em;
    background-color: rgb(78, 61, 24);
    color: aliceblue;
    font-family: Arial, sans-serif;
  "
>
  <h1><%=title%></h1>
</div>
